.pop-up
{
    position: absolute;
    background-color: #FFFBD9;
    padding: 32px 16px;
    padding-top: 16px;
    min-width: 280px;
    border-radius: 8px;
    box-shadow: 0px 4.400000095367432px 4.712500095367432px 0px #00000005;
    box-shadow: 0px 22px 29px 0px #0000000A;
    z-index: 10;
    transition: 0.3s;
    &.header
    {
        top: 100%;
        left: 100%;
        transform: translateY(15px);
        opacity: 0;
    }
    &.header.active
    {
        opacity: 1;
        transform: translateX(-100%) translateX(-100px) translateY(15px),
    }
    h6
    {   
        margin-bottom: 16px;
        margin-top: -4px;
    }
    svg
    {
        position: relative;
        left: 100%;
        cursor: pointer;
        opacity: 0.5;
        width: 20px;
        height: 20px;
        transform: translateX(-100%);
        &:hover
        {
            opacity: 1;
        }
    }
}


@media screen and (max-width: 1300px) {
    .pop-up.header.active
    {
        transform: translateX(-100%) translateX(-70px) translateY(15px),
    }
}

@media screen and (max-width: 1550px) {
    .pop-up.header.active
    {
        transform: translateX(-100%) translateX(-80px) translateY(15px),
    }
}

@media screen and (max-width: 1112px) {
    .pop-up.header.active
    {
        transform: translateX(-100%) translateX(-50px) translateY(15px),
    }
}

@media screen and (max-width: 768px) {
    .pop-up.header.active
    {
        transform: translateX(-100%) translateX(-25px) translateY(15px),
    }
}

@media screen and (max-width: 576px) {
    .pop-up.header.active
    {
        transform: translateX(-100%) translateX(-16px) translateY(15px);
        width: 256px;
        h6
        {   
            margin-bottom: 12px;
            margin-top: -2px;
        }
    }
}