section.cover-page
{
    background-color: #A766FE;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    .cover-page-background
    {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -100%);
        height: auto;
        width: 101%;
        z-index: 0;
    }
    .left
    {
        width: 50%;
        max-width: 560px;
        padding-top: 179px;
        padding-bottom: 211px;
        position: relative;
        z-index: 1;
        h1
        {
            color: white;
        }
        &>p
        {
            color: white;
            margin-top: 24px;
            margin-bottom: 40px;
            margin-top: 24px;
            margin-bottom: 40px;
        }
    }
    .right-img
    {
        position: relative;
        z-index: 1;
        left: -59px;
        top: -44px;
        img
        {

        }
    }
    .play-button
    {
        transition: 0.2s;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: center;
        flex-direction: column;
        background: linear-gradient(140.52deg, #7D16FF 0%, #A766FE 100%);
        position: absolute;
        left: 51.2%;
        top: 48.9%;
        transform: translateX(-50%);
        transition: 0.2s;
        z-index: 1;
        &:after
        {
            content: "";
            width: 100.5%;
            height: 100.5%;
            position: absolute;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: black;
            opacity: 0;
            transition: 0.2s;
            background: linear-gradient(123.72deg, #FF8A00 0%, #FFD226 97.41%);
        }
        svg
        {
            position: relative;
            z-index: 2;
            width: 56px;
            margin-bottom: 9px;
            margin-left: 11px;
        }
        h4
        {
            position: relative;
            z-index: 2;
            color: white;
            text-align: center;
            margin-bottom: 17px;
        }
        &::before
        {
            content: "";
            position: relative;
            z-index: 2;
            width: 212px;
            height: 212px;
            border: 2px solid #D9BAFD;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            pointer-events: none;
            z-index: -1;
            transition: 0.2s;
            transform: translate(-50%, -50%);
        }
        &:hover
        {
            transform: scale(1.03) translateX(-50%) translateX(2px);
            &::before
            {
                transform: translate(-50%, -50%) scale(1.07);
                opacity: 0;
            }
            &::after
            {
                opacity: 1;
            }
            & svg *
            {
                fill: white;
            }
        }
    }
}
@media screen and (max-width: 1750px) {
    section.cover-page
    {
        .left
        {
            width: 45%;
            padding-top: 160px;
            padding-bottom: 185px;
            h1
            {
                font-size: 38px;
                line-height: 46px;
            }
            &>p
            {
                font-size: 16px;
                line-height: 22px;
                margin-top: 20px;
                margin-bottom: 32px;
            }
        }
        .right-img
        {
            position: relative;
            left: 0;
            img
            {
                width: 500px;
            }
            @keyframes man {
                from
                {
                    transform: translateX(120%);
                    left: 0px !important;
                }
                to
                {
                    transform: translateX(0%);
                    left: 0px !important;
                }
            }
        }
        .play-button
        {
            width: 150px;
            height: 150px;
            left: 55.2%;
            top: 50.9%;
            svg
            {
                width: 32px;
                margin-bottom: 7px;
            }
            h4
            {
                position: relative;
                font-size: 12px !important;
                margin-bottom: 13px;
            }
            &::before
            {
                width: 180px;
                height: 180px;
            }
            &:hover
            {
                &::before
                {
                    transform: translate(-50%, -50%) scale(1.07);
                    opacity: 0;
                }
                &::after
                {
                    opacity: 1;
                }
                & svg *
                {
                    fill: white;
                }
            }
        }
    }
}
@media screen and (max-width: 1560px) {
    section.cover-page
    {
        flex-direction: column;
        background-size: 160%;
        background-position-x: 100%;
        align-items: center;
        .cover-page-background
        {
            left: -60%;
            transform: translate(0%, -100%);
            width: 160%;
        }
        .left
        {
            width: 100%;
            max-width: none;
            padding-top: 100px;
            padding-bottom: 150px;
            button
            {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            h1
            {
                font-size: 45px;
                line-height: 55px;
                text-align: center;
            }
            &>p
            {
                margin-top: 24px;
                text-align: center;
                margin-bottom: 40px;
                font-size: 18px;
            }
        }
        .right-img
        {
            img
            {
                width: 635px !important;
            }
        }
        .play-button
        {
            width: 180px;
            height: 180px;
            left: 22%;
            top: 64%;
            svg
            {
                width: 56px;
                margin-bottom: 9px;
                margin-left: 11px;
            }
            h4
            {
                margin-bottom: 17px;
                font-size: 14px !important;
                line-height: 18.6px;
            }
            &::before
            {
                width: 212px;
                height: 212px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    section.cover-page
    {
        background-size: 180%;
        background-position-x: 98%;
        .cover-page-background
        {
            left: -78.35%;
            width: 180%;
        }
        .left
        {
            padding-top: 80px;
            padding-bottom: 110px;
            &>p
            {
                font-size: 16px;
                margin-top: 20px;
                margin-bottom: 33px;
            }
        }
        .right-img
        {
            img
            {
                width: 550px !important;
            }
        }
        .play-button
        {
            width: 150px;
            height: 150px;
            svg
            {
                position: relative;
                z-index: 2;
                width: 32px;
                margin-bottom: 5px;
            }
            h4
            {
                font-size: 12px !important;
                margin-bottom: 12px;
                line-height: 16px;
            }
            &::before
            {
                width: 183px;
                height: 183px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    section.cover-page
    {
        background-size: 180%;
        background-position-x: 98%;
        .left
        {
            padding-top: 70px;
            padding-bottom: 100px;
        }
        .right-img
        {
            img
            {
                width: 450px !important;
            }
        }
        .play-button
        {
            width: 120px;
            height: 120px;
            svg
            {
                width: 28px;
                margin-bottom: 0px;
            }
            h4
            {
                font-size: 10px !important;
                line-height: 15px;
            }
            &::before
            {
                width: 148px;
                height: 148px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    section.cover-page
    {
        background-size: 170%;
        background-position-x: 100%;
        .cover-page-background
        {
            left: -70%;
            width: 170%;
        }
        .left
        {
            padding-top: 40px;
            padding-bottom: 37px;
            h1
            {
                text-align: left;
            }
            &>p
            {
                text-align: left;
                margin-top: 24px;
                margin-bottom: 32px;
            }
            button
            {
                width: 100%;
                p{
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .right-img
        {
            position: relative;
            left: 0;
            top: -5px;
            img
            {
                width: 317px !important;
            }
        }
        .play-button
        {
            width: 90px;
            height: 90px;
            left: 24.2%;
            top: 77.5%;
            transform: translateX(-50%);
            svg
            {
                position: relative;
                z-index: 2;
                width: 22px;
                height: 22px;
                margin-bottom: 3px;
                margin-left: 7px;
            }
            h4
            {
                font-size: 7px !important;
                line-height: 9.31px;
                margin-bottom: 8px;
            }
            &::before
            {
                width: 106px;
                height: 106px;
                border-width: 1px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    section.cover-page
    {
        background-size: 250%; // dza
        background-position-x: 70%;
        .cover-page-background
        {
            left: -105%;
            width: 250%;
        }
        .play-button
        {
            width: 80px;
            height: 80px;
            left: 16.2%;
            svg
            {
                width: 20px;
                height: 20px;
                margin-bottom: 4px;
                margin-left: 7px;
            }
            h4
            {
                margin-bottom: 6px;
            }
            &::before
            {
                width: 95px;
                height: 95px;
            }
        }
    }
}