h2.main-title
{
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 29px;
    position: relative;
    &::before
    {
        content: "";
        height: 100%;
        width: 5px;
        border-radius: 0 10px 10px 0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);   
        background: linear-gradient(123.72deg, #FF8A00 0%, #FFD226 97.41%);
    }
}