h2.main-title
{
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 29px;
    position: relative;
    &::before
    {
        content: "";
        height: 100%;
        width: 5px;
        border-radius: 0 10px 10px 0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);   
        background: linear-gradient(123.72deg, #FF8A00 0%, #FFD226 97.41%);
    }
}

.page-title
{
    .page-title__top
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul.tags
        {
            display: flex;
            align-items: center;
            li.tag
            {
                padding: 4px 0;
                width: 89px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 60px;
                margin-right: 16px;
                &.white
                {
                    background-color: #FFFEF2;
                }
                &.yellow
                {
                    background-color: #FFFBD9;
                }
                &:last-child
                {
                    margin-right: 0;
                }
            }
        }
        .time
        {
            display: flex;
            justify-content: center;
            align-items: center;
            img
            {
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }
    }
    .proggress
    {
        margin-top: 24px;
        width: 100%;
        height: 6px;
        border-radius: 12px;
        background-color: #F8F3D1;
        .proggress__pointer
        {
            height: 6px;
            border-radius: 12px;
            position: absolute;
            background-color: #EFC31A;
        }
    }
}