.course
{
    background-color: #FFFEF2;
    padding: 64px 48px;
    margin-top: 32px;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 16px;
    .course__body
    {
        display: flex;
        align-items: center;
        position: relative;
        &:first-child
        {
            margin-top: 0;
        }
        .left
        {
            img
            {
                min-width: 500px;
                min-height: 400px;
                max-width: 500px;
                max-height: 400px;
            }
        }
        .right
        {
            padding-left: 48px;
            .top
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                ul.tags
                {
                    display: flex;
                    align-items: center;
                    li.tag
                    {
                        height: 30px;
                        padding: 0 24.5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 60px;
                        margin-right: 16px;
                        &.purple
                        {
                            background-color: #F2E9FF;
                        }
                        &.yellow
                        {
                            background-color: #FFF8BF;
                        }
                        &:last-child
                        {
                            margin-right: 0;
                        }
                    }
                }
                .share
                {
                    display: flex;
                    align-items: center;
                    svg
                    {
                        width: 30px;
                        height: 30px;
                    }
                    p
                    {
                        margin-left: 16px;
                    }
                }
            }
            &>h3
            {
                margin: 24px 0;
            }
            &>p
            {
    
            }
        }
        .proggress
        {
            width: 100%;
            height: 6px;
            border-radius: 12px;
            position: absolute;
            top: 100%;
            background-color: #F8F3D1;
            left: 50%;
            transform: translate(-50%, -100%) translateY(32px);
            .proggress__pointer
            {
                height: 6px;
                border-radius: 12px;
                position: absolute;
                background-color: #EFC31A;
            }
        }
    }
    .close-block
    {
        pointer-events: none;
        opacity: 0;
        background: #FFFBD980;
        position: absolute;
        border-radius: 16px;
        left: 50%;
        z-index: 2;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg
        {
            width: 80px;
            height: 105px;
        }
    }
    &:hover
    {
        background: #FFFBD9;
        box-shadow: 0px 1.399999976158142px 13px 0px #00000009;
        box-shadow: 0px 7px 80px 0px #00000012;
    }
    &.closed
    {
        .close-block
        {
            pointer-events: auto;
            opacity: 1;
        }
    }
    &.active
    {
        background-color: #E9FFE5;
        .proggress, .proggress .proggress__pointer
        {
            background-color: #10AF63;
        }
        .tags .tag:last-child
        {
            background-color: #CAF2C4;
        }
    }
}