.form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFEF2;
    display: flex;
    justify-content: center;
    align-items: center;
    &__right
    {
        width: 100%;
        width: 476px;
        min-height: 506px;
        padding: 0 64px;
        padding-top: 24px;
        padding-bottom: 51px;
        label
        {
            
        }
        input
        {

        }
    }
    &__left
    {
        position: relative;
        min-height: 506px;
        width: 476px;
        background-color: #F2E9FF;
        border: 1px solid #A766FE;
        display: flex;
        justify-content: center;
        align-items: center;
        img
        {
            height: 100%;
            min-width: 400px;
            min-height: 400px;
        }
    }
}