nav.sidebar
{
    width: 50%;
    max-width: 320px;
    background-color: #F8F8F8;
    min-height: 100%;
    padding-top: 76px;
    ul
    {
        li
        {
            background-color: #EEEEEE;
            transition: 0.2s;
            &:hover
            {
                background-color: #F8F8F8;
            }
            &.active
            {
                background: linear-gradient(123.72deg, #FF8A00 0%, #FFD226 97.41%);
                transition: 0.2s;
                a
                {
                    h6
                    {
                        color: white;
                    }
                    svg *
                    {
                        fill: white;
                    }
                }
            }
            a
            {
                display: flex;
                align-items: center;
                height: 83px;
                border-bottom: 1px solid #E0E0E0;
                padding: 0px 40px;
                svg
                {
                    min-width: 32px;
                    min-height: 32px;
                    *
                    {
                        fill: black;
                    }
                }
                h6
                {
                    margin-left: 16px;
                }
            }
        }
    }
}