section.additionalInformation
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -32px;
    margin-bottom: -32px;
    .info-block
    {
        width: 33.33%;
        padding: 0 5px;
        margin: 0 -10px;
        &__container
        {
            height: 96px;
            display: flex;
            background-color: white;
            border-radius: 16px;
            align-items: center;
            padding: 0 32px;
            box-shadow: 0px 4.400000095367432px 4.712500095367432px 0px #00000005;
            box-shadow: 0px 22px 29px 0px #0000000A;
            svg
            {
                min-width: 48px;
                min-height: 48px;
                max-width: 48px;
                max-height: 48px;
            }
            i
            {
                display: block;
                margin: 0 16px;
                font-style: normal;
            }
            p
            {
            
            }
        }
    }
}
.after-relative h2:first-child
{
    margin-top: 48px;
}
@media screen and (max-width: 1480px) {
    section.additionalInformation
    {
        top: -25px;
        margin-bottom: -25px;
        .info-block
        {
            padding: 0 3px;
            margin: 0 -6px;
            &__container
            {
                height: 83px;
                padding: 0 25px;
                svg
                {
                    min-width: 38px;
                    min-height: 38px;
                    max-width: 38px;
                    max-height: 38px;
                }
                i
                {
                    margin: 0 12px;
                    font-size: 24px;
                }
                p
                {
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    section.additionalInformation
    {
        flex-direction: column;
        top: -52px;
        margin-bottom: -52px;
        .info-block
        {
            padding: 0;
            margin: 0;
            width: 100%;
            margin-top: 20px;
            &__container
            {
                height: 96px;
                padding: 0 32px;
                justify-content: center;
                svg
                {
                    min-width: 48px;
                    min-height: 48px;
                    max-width: 48px;
                    max-height: 48px;
                }
                i
                {
                    margin: 0 16px;
                    font-size: 30px;
                }
                p
                {
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    section.additionalInformation
    {
        flex-direction: column;
        top: -31px;
        margin-bottom: -31px;
        .info-block
        {
            margin-top: 12px;
            &__container
            {
                border-radius: 8px;
                height: 52px;
                svg
                {
                    min-width: 32px;
                    min-height: 32px;
                    max-width: 32px;
                    max-height: 32px;
                }
            }
        }
    }
}