@import "reset.scss";
@import "./components/containers.scss";

// Text Settings Starts
h1, h2, h3, h4, h5, h6, p, a, i, strong
{
	font-family: 'Segoe UI';
}
h1
{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}

h2, .h2
{
    font-family: Segoe UI;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    &.secondPage
    {
        margin-top: 48px;
        text-align: center;
    }
}

h3
{
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

h4, .h4
{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

h5
{
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

h6
{
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

h1.subtitle
{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

h2.subtitle, .h2.subtitle
{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

h3.subtitle
{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

h4.subtitle, .h4.subtitle
{
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

p
{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

p.m, .text-m, input::placeholder
{
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

p.s
{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
// Text Settings Ends

// Components Settings Starts
button
{
    p
    {
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }
    &.m
    {
        p
        {
            font-size: 16px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    &.s
    {
        p
        {
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    &.xs
    {
        p
        {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}
// Components Settings Ends

body, .App
{
    min-height: 100vh;
}

@media screen and (max-width: 1450px) 
{
    h2.secondPage
    {
        margin-top: 42px;
    }
}
@media screen and (max-width: 1200px) {
    h1
    {
        font-size: 38px !important;
        line-height: 45px !important;
    }
    p
    {
        font-size: 16px;
    }
    h2.secondPage
    {
        margin-top: 38px;
        font-size: 28px;
        line-height: 42px;
    }
}

@media screen and (max-width: 576px) {
    // Text Settings Starts
    h1, h2, h3, h4, h5, h6, p, a, i, strong
    {
    	font-family: 'Segoe UI';
    }
    h1
    {
        font-size: 26px !important;
        line-height: 36px !important;
    }

    h2, .h2
    {
        font-size: 20px !important;
        line-height: 30px !important;
        &.secondPage
        {
            margin-top: 32px !important;
        }
    }

    h3
    {
        font-size: 16px;
        line-height: 24px;
    }

    h4, .h4
    {
        font-size: 16px;
        line-height: 24px;
    }

    h5
    {
        font-size: 16px;
        line-height: 24px;
    }

    h2.subtitle, .h2.subtitle
    {
        font-size: 14px !important;
        line-height: 18.5px !important;
    }

    h4.subtitle, .h4.subtitle
    {
        font-size: 7px;
        line-height: 9.3px;
    }

    p 
    {
        font-size: 14px !important;
        line-height: 22.4px !important;
    }

    p.m, .text-m, input::placeholder
    {
        font-size: 14px;
        line-height: 22.4px;
    }

    p.s
    {
        font-size: 12px;
        line-height: 19.2px;
    }
    // Text Settings Ends

    // Components Settings Starts
    button
    {
        p
        {
            font-size: 14px;
            line-height: 18.2px;
        }
        &.m
        {
            p
            {
                font-size: 16px;
                font-weight: 600;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        &.s
        {
            p
            {
                font-size: 12px;
                line-height: 15.6px;
            }
        }
        &.xs
        {
            p
            {
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
    // Components Settings Ends
}