label.mainTextInput
{
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
}
input.mainTextInput
{
    width: 348px;
    outline: none !important;
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    padding-top: 12px;
    background-color: white;
    border: 1px solid #E0E0E0;
    &::placeholder
    {
        color: #828282;
    }
    &[type=date]
    {
        border: none;
        
    }
}

@media screen and (max-width: 1350px) {
    label.mainTextInput
    {
        margin-top: 12.5px;
        margin-bottom: 6.5px;
        font-size: 15px;
    }
    input.mainTextInput
    {
        outline: none !important;
        font-size: 15px !important;
        display: block;
        width: 100%;
        padding: 12.5px;
        padding-top: 9.6px;
        &::placeholder
        {
            font-size: 15px !important;
        }
    }
}