header
{
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left
    {
        display: flex;
        align-items: center;
        img
        {
            width: 60px;
            margin-right: 8px;
        }
    }
    .right
    {
        a:first-child
        {
            margin-right: 40px;
        }
    }
}