header
{
    height: 76px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4.400000095367432px 4.712500095367432px 0px #00000005;
    box-shadow: 0px 22px 29px 0px #0000000A;
    .left
    {
        display: flex;
        align-items: center;
        img
        {
            max-width: 60px;
            min-width: 60px;
            margin-right: 8px;
        }
    }
    .right
    {
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        a
        {
            white-space: nowrap;
        }
        a:first-child
        {
            margin-right: 40px;
        }
        .profile
        {
            display: flex;
            justify-content: center;
            align-items: center;
            h6
            {
                cursor: help;
            }
            .profile-icon
            {
                margin-left: 10px;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                cursor: pointer;
                background-color: #F2E9FF;
                display: flex;
                justify-content: center;
                align-items: center;
                img
                {
                    width: 24px;
                    height: 24px;
                }
            }
            .logout
            {
                position: absolute;
                top: 100%;
                cursor: pointer;
                background-color: white;
                padding: 5px 10px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-50%);
                transition: 0.3s;
                opacity: 0;
                border: 1px solid #F2E9FF;
                box-shadow: 0px 0 4.712500095367432px 0px #00000005;
                box-shadow: 0px 0 29px 0px #0000000A;
                pointer-events: none;
                z-index: 10;
                &.active
                {
                    transform: translateY(5px);
                    pointer-events: auto;
                    opacity: 1;
                }
                &:hover
                {
                    background-color: #faf6ff;
                }
            }
        }
    }
    .authorized-right
    {
    }
}
.sidebar-button
{
    display: none;
    margin-right: 28px;
    position: absolute;
    left: 50px;
    z-index: 10;
    transition: 0.25s;
    top: 29px;
    cursor: pointer;
    span
    {
        display: block;
        width: 22.5px;
        transition: 0.25s;
        background-color: black;
        border-radius: 4px;
        transform-origin: left center;
        height: 2px;
        margin-top: 6px;
        &:first-child
        {
            margin-top: 0;
        }
    }
    &.active
    {
        transform: translateX(2px);
        span:nth-child(1)
        {
            transform: rotate(45deg);
        }
        span:nth-child(2)
        {
            transform: scale(0);
        }
        span:nth-child(3)
        {
            transform: rotate(-45deg);
        }
    }
}
.black-background
{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 8;
    opacity: 0;
    transition: 0.25s;
    &.active
    {
        opacity: 1;
        pointer-events: auto;
    }
}

@media screen and (max-width: 1250px) {
    header .right.unautorized > a:first-child{
        display: none;
    }
    header .right.unautorized > a:first-child{
        button
        {
            padding: 0 !important;
        }
    }
    header .right.formm.right.unautorized > a:first-child{
        display: block;
    }
    header .right.formm.right.unautorized > a:last-child{
        display: none;
    }
    header .right > a:first-child{
        margin: 0;
    }
    .authorized
    {
        margin-right: 40px !important;
    }
    header .right .profile .profile-icon
    {
        width: 48px;
        height: 48px;
        img
        {
            width: 21px;
            height: 21px;
        }
    }
}

@media screen and (max-width: 992px) {
    header .left > h2.h4{
        display: none;
    }
    .sidebar-button
    {
        display: inline-block;
    }
    header .left a
    {
        margin-left: 51px;
    }
}

@media screen and (max-width: 768px) {
    header .left a
    {
        margin-left: 50px;
    }
    .sidebar-button
    {
        left: 25px;
    }
}



@media screen and (max-width: 630px) 
{
    .authorized
    {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    header .left a
    {
        margin-left: 51px;
    }
    header .left img
    {
        max-width: 40px !important;
        min-width: 40px !important;
    }
    header .right 
    {
        margin-left: 0;
    }
    .sidebar-button
    {
        left: 16px;
        top: 17px;
    }
    header
    {
        height: 52px !important;
    }
    header .right .profile .profile-icon
    {
        width: 40px;
        height: 40px;
        img
        {
            width: 16px;
            height: 16px;
        }
    }
}